body {
    text-align: center;
}

#dice-roll, #dice-number, .round, .dice-container, #roll-1, #winner, #next-round {
    display: none;
}

.dice-container {
    border: solid black 2px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
}

#roll-1 {
    color: red;
}



